In [49]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules
from apyori import apriori ## This is for the apriori algorithm

In [54]:
df = pd.read_csv("/Users/junlongng/Desktop/NTU/Year_2/Semester 2/BC2407 Analytics II/BC2407 Course Materials/S3 Association Rules/milk.csv")
df.head()
wide_data = df
del wide_data['ID'] ## Removing ID column
wide_data

   milk  bread  butter  beer  diapers
0     1      1       0     0        0
1     0      0       1     0        0
2     0      0       0     1        1
3     1      1       1     0        0
4     0      1       0     0        0

<h2> Data Preprocessing

<p> The Apriori library we are going to use requires our dataset to be in the form of a list of lists, where the whole dataset is a big list and each transaction in the dataset is an inner list within the outer big list. Currently we have data in the form of a pandas dataframe. To convert our pandas dataframe into a list of lists, execute the following script: </p>

In [55]:
## Encoding a wide datatype
te = TransactionEncoder()
wide_encoded = te.fit(wide_data).transform(wide_data)
wide_df = pd.DataFrame(wide_encoded, columns = te.columns_)
wide_df

,a,b,d,e,i,k,l,m,p,r,s,t,u
0,False,False,False,False,True,True,True,True,False,False,False,False,False
1,True,True,True,True,False,False,False,False,False,True,False,False,False
2,False,True,False,True,False,False,False,False,False,True,False,True,True
3,False,True,False,True,False,False,False,False,False,True,False,False,False
4,True,False,True,True,True,False,False,False,True,True,True,False,False

In [56]:
from mlxtend.frequent_patterns import apriori
apriori(wide_df, min_support= 0.4, use_colnames=True)
## Something went wrong with the column names

    support      itemsets
0       0.4           (a)
1       0.6           (b)
2       0.4           (d)
3       0.8           (e)
4       0.4           (i)
5       0.8           (r)
6       0.4        (a, d)
7       0.4        (e, a)
8       0.4        (a, r)
9       0.6        (e, b)
10      0.6        (b, r)
11      0.4        (e, d)
12      0.4        (d, r)
13      0.8        (e, r)
14      0.4     (e, a, d)
15      0.4     (a, d, r)
16      0.4     (e, a, r)
17      0.6     (e, b, r)
18      0.4     (e, d, r)
19      0.4  (e, a, d, r)