In [24]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from mlxtend.preprocessing import TransactionEncoder
from sklearn.preprocessing import OneHotEncoder
from mlxtend.frequent_patterns import apriori, association_rules
from apyori import apriori ## This is for the apriori algorithm

In [17]:
df = pd.read_csv("/Users/junlongng/Desktop/NTU/Year_2/Semester 2/BC2407 Analytics II/BC2407 Course Materials/S3 Association Rules/milk.csv")
df.head()
wide_data = df
del wide_data['ID'] ## Removing ID column
wide_data

   milk  bread  butter  beer  diapers
0     1      1       0     0        0
1     0      0       1     0        0
2     0      0       0     1        1
3     1      1       1     0        0
4     0      1       0     0        0

<h2> Data Preprocessing

<p> The Apriori library we are going to use requires our dataset to be in the form of a list of lists, where the whole dataset is a big list and each transaction in the dataset is an inner list within the outer big list. Currently we have data in the form of a pandas dataframe. To convert our pandas dataframe into a list of lists, execute the following script: </p>

In [18]:
## Encoding a wide datatype ## Need to review this codeblock
## Do we even need to encode this given that it is in classical integer representation?
te = TransactionEncoder()
te_ary = te.fit(wide_data).transform(wide_data)
encoded_data = pd.DataFrame(te_ary, columns = te.columns_)
print(encoded_data)

       a      b      d      e      i      k      l      m      p      r  \
0  False  False  False  False   True   True   True   True  False  False
1   True   True   True   True  False  False  False  False  False   True
2  False   True  False   True  False  False  False  False  False   True
3  False   True  False   True  False  False  False  False  False   True
4   True  False   True   True   True  False  False  False   True   True

       s      t      u
0  False  False  False
1  False  False  False
2  False   True   True
3  False  False  False
4   True  False  False

In [22]:
## Checking if data is categorical
wide_data
wide_data.dtypes

milk       int64
bread      int64
butter     int64
beer       int64
diapers    int64
dtype: object

In [38]:
wide_data['milk'] = wide_data['milk'].astype("category")
wide_data['bread'] = wide_data['bread'].astype("category")
wide_data['butter'] = wide_data['butter'].astype("category")
wide_data['beer'] = wide_data['beer'].astype("category")
wide_data['diapers'] = wide_data['diapers'].astype("category")
wide_data

  milk bread butter beer diapers
0    1     1      0    0       0
1    0     0      1    0       0
2    0     0      0    1       1
3    1     1      1    0       0
4    0     1      0    0       0

In [43]:
encoded_data = pd.get_dummies(wide_data)
encoded_data.dtypes

milk_0       uint8
milk_1       uint8
bread_0      uint8
bread_1      uint8
butter_0     uint8
butter_1     uint8
beer_0       uint8
beer_1       uint8
diapers_0    uint8
diapers_1    uint8
dtype: object

In [34]:
one_hot_encoded_data = pd.get_dummies(wide_data, columns = ["milk", "bread","butter","beer","diapers"])
one_hot_encoded_data.dtypes

milk_0       uint8
milk_1       uint8
bread_0      uint8
bread_1      uint8
butter_0     uint8
butter_1     uint8
beer_0       uint8
beer_1       uint8
diapers_0    uint8
diapers_1    uint8
dtype: object

In [45]:
## running apriori algorithm without encoding to string representation of logical values.
from mlxtend.frequent_patterns import apriori
apriori(one_hot_encoded_data, min_support= 0.4, use_colnames=True)

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/mlxtend/frequent_patterns/fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

    support                                itemsets
0       0.6                                (milk_0)
1       0.4                                (milk_1)
2       0.4                               (bread_0)
3       0.6                               (bread_1)
4       0.6                              (butter_0)
5       0.4                              (butter_1)
6       0.8                                (beer_0)
7       0.8                             (diapers_0)
8       0.4                       (bread_0, milk_0)
9       0.4                      (milk_0, butter_0)
10      0.4                        (beer_0, milk_0)
11      0.4                     (milk_0, diapers_0)
12      0.4                       (bread_1, milk_1)
13      0.4                        (milk_1, beer_0)
14      0.4                     (milk_1, diapers_0)
15      0.4                     (bread_1, butter_0)
16      0.6                       (bread_1, beer_0)
17      0.6                    (bread_1, diapers_0)
18      0.4                      (beer_0, butter_0)
19      0.4                   (diapers_0, butter_0)
20      0.4                      (butter_1, beer_0)
21      0.4                   (butter_1, diapers_0)
22      0.8                     (beer_0, diapers_0)
23      0.4             (beer_0, milk_0, diapers_0)
24      0.4               (bread_1, milk_1, beer_0)
25      0.4            (bread_1, milk_1, diapers_0)
26      0.4             (beer_0, milk_1, diapers_0)
27      0.4             (bread_1, beer_0, butter_0)
28      0.4          (bread_1, diapers_0, butter_0)
29      0.6            (bread_1, beer_0, diapers_0)
30      0.4           (beer_0, diapers_0, butter_0)
31      0.4           (beer_0, butter_1, diapers_0)
32      0.4    (bread_1, beer_0, milk_1, diapers_0)
33      0.4  (bread_1, beer_0, diapers_0, butter_0)